.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
service_account.json
*.db
include/dbt/target
include/dbt/logs
include/dbt/.user.yml